.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Player-body{
    background-color:brown;
    width: 450px;
    height: 350px;
    border-radius: 10px;
    
    

}
.imageDiv{
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
}
.images{
    width: 150px;
    height: 100px;
    border-radius: 10px;
}
.function{
   display: flex;
   justify-content: center;
   margin-top: 15px;
}
.texts{
    overflow: hidden;
    scroll-behavior: auto;
}
.texts p{
    text-align: center;
}



.progress-container {
    width: 100%;
    height: 4px;
    background-color: #ccc;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #007bff; /* Change the color to your preference */
    transition: width 0.1s ease-in-out;
  }
  
@media (max-width:400px) {
    .Player-body{
        background-color:brown;
        width: 450px;
        height: 100vh;
        
    }
    .imageDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 130px;
        }
        .function{
            display: flex;
            justify-content: center;
            margin-top: 50px;
         }
         .texts{
            margin-top: 50px;
         }
         .texts p{
            margin-top: 120px;
         }
         .images{
            width: 250px;
            height: 150px;
            border-radius: 10px;
        }
}