.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Player-body{
    background-color:brown;
    width: 450px;
    height: 350px;
    border-radius: 10px;
    
    

}
.imageDiv{
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
}
.images{
    width: 150px;
    height: 100px;
    border-radius: 10px;
}
.function{
   display: flex;
   justify-content: center;
   margin-top: 15px;
}
.texts{
    overflow: hidden;
    scroll-behavior: auto;
}
.texts p{
    text-align: center;
}